extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Amanda Jones

        p Full Stack Developer


        .about-bio

          p I'm a versatile software developer with a rich background in ICU nursing, spanning over 5 years. My journey from the intense world of healthcare to the dynamic tech industry has equipped me with a unique skill set. Throughout my nursing career, I've fine-tuned my adaptability, sharpened my meticulous attention to detail, and excelled in collaborating with diverse teams. Now, I'm on a mission to channel these experiences into innovative software development.

          p My passion for technology and my diverse background make me a compelling candidate for entry-level roles in software development. I'm eager to tackle new challenges, learn and grow in this exciting field. I'm committed to bringing a fresh perspective and a wealth of experiences to the world of tech, and I'm ready to make a meaningful impact.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Java 
          li React 
          li Springboot 
          li Typescript 
          li Python 
          li PostgreSQL

        h6 Contact Info

        ul
          li 503-707-7931
          li ajones02@icloud.com

        a.btn-link(href='http://linkedin.com/in/amanda-jones-ba32a3248') LinkedIn
        a.btn-link(href='https://github.com/amandajones1996') GitHub
        a.btn-link(href='https://twitter.com/') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back