extends layout.pug

block content

  article.portfolio-intro

    
    h1 Amanda's Portfolio

    p This portfolio showcases my previous projects, providing a platform for others to explore and learn more about the work I've curated.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      
      each project in projects 
       
        .cell
          a(href=`/projects/${project.id}`)
            h5= project.project_name
            img(src=project.image_urls[0], alt=`Thumbnail for ${project.project_name}`)
        

